*.dSYM
*.o
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vagrant
lcthw/ex1
lcthw/ex10
lcthw/ex11
lcthw/ex13
lcthw/ex14
lcthw/ex15
lcthw/ex16
lcthw/ex16hw
lcthw/ex3
lcthw/ex4
lcthw/ex5
lcthw/ex6
lcthw/ex7
lcthw/ex8
lcthw/ex9
lein
tex_trial/picture.jpg
tex_trial/template copy.aux
tex_trial/template copy.log
tex_trial/template copy.out
tex_trial/template copy.pdf
tex_trial/template.aux
tex_trial/template.log
tex_trial/template.out
tex_trial/template.pdf
tex_trial/template.tex
tex_trial/test.aux
tex_trial/test.log
tex_trial/test.pdf
